[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:naokiiida/get_next_line.git
[submodule "born2beroot"]
	path = born2beroot
	url = git@github.com:naokiiida/born2beroot.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:naokiiida/push_swap.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:naokiiida/ft_printf.git
[submodule "libft"]
	path = libft
	url = git@github.com:naokiiida/libft.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:naokiiida/minitalk.git
[submodule "fractol"]
	path = fractol
	url = git@github.com:naokiiida/fractol.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:naokiiida/pipex
[submodule "minishell"]
	path = minishell
	url = git@github.com:naokiiida/minishell
